.btn-main-container {
    border : none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: #387ADF;
    // min-width: 200px;
    width: 100%;
    color: white;

    &:hover {
        background-color: rgb(13, 114, 209);
        // transform: scale(1.05);
    }
}